/* Compulsory */

* {
    font-family: 'Space Mono', monospace;
    transition: all 0.35s linear;
}

body, html{
    height: 100%;
    background: url(bg11.gif);
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
}

#discord_menu {
    box-sizing: content-box;
    width: 408px;
    height: fit-content;
    text-align: center;
    border: 1px;
    border-width: 10px;
    margin: auto;
    margin-top: 80px;
    box-shadow: rgba(98, 80, 80, 0.81) 0px 5px 15px;
    border-radius: 25px;
}

#image {
    height: auto;
    width: auto;
}

.btn {
    margin: auto;
    border-radius: 42%;
    padding: 8px 12px;
    border: solid #e1e1e1 2px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1) perspective(1px);
}

.player {
    width: 400px;
    background-color: var(--bg);
    position: relative;
    display: grid;
    grid-template-columns: 52px 1fr 52px;
    grid-gap: 2px 55px;
    border-radius: 64px;
}

.control, #current{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

#playbtn {
    font-size: 15px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

#playbtn:hover{
    -webkit-text-fill-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#current {
    text-align: right;
}

.bar{
    --space: -4px;
    background-color: #24242424;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}

#progress {
    display: block;
    width: var(--progress, 0%);
    background-color: white;
    transition: all 1s linear;
    height: 100%;
}

h1{
    color: black;
    opacity: 0.8;
}

span{
    color: antiquewhite;
}

p {
    color: beige;
}

#text {
    color: white;
    margin: 10px;
}

/*--Phone Size--*/

@media (max-width:800px){
    #discord_menu img {
        width: 300px;
        height: auto;
    }
    #discord_menu{
        width: 300px;
    }
    .btn {
        margin: auto;
        border-radius: 42%;
        padding: 5px 9px;
        border: solid #e1e1e1 2px;
        margin: 10px;
        cursor: pointer;
    }
    
    .btn:hover {
        transform: scale(1.1) perspective(1px);
    }
    
    #player {
        width: 70%;
        height: 40px;
    }

    h1{
        color: black;
        opacity: 0.8;
        font-size: 20px;
    }
    
    p {
        color: beige;
        font-size: 12px;
    }
    
    #text {
        color: white;
        margin: 10px;
        font-size: 10px;
    }
} 
